/target
store.*.db
/p2poolv2_atomic_swap/data
store*.db
p2pool.log
logs/*
tools/log_dashboard/venv/
tools/log_dashboard/stats.json*
tools/log_dashboard/agent_logs/
tools/log_dashboard/last_processed.txt